.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: blue;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    color: blue;
}

.hero-title {
    font-size: 100pt;
}
